---
pagination:
    data: 'docs'
    size: 1
    alias: 'doc'
    addAllPagesToCollections: true
permalink: "{{ doc.path }}.html"
layout: layout.njk
eleventyComputed:
    title: "{{ doc.title }}"
tags: documents
---

{{ doc.html | safe }}

<hr />

<p><a href="https://docs.google.com/document/d/{{ doc.documentId }}">Edit Google Doc content</a></p>
</div>